<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis cum illum ad! Tempora aliquam est ea ab perferendis quos doloribus. Qui odio,
        dignissimos ipsum, assumenda adipisci laborum recusandae amet debitis fugit modi, earum ullam alias accusantium suscipit! Culpa, saepe!</p>

    </div>
</div>