<div class="jumbotron mt-4">
<h1 class="display-4">Notes App</h1>
<p class='lead'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<hr class="my-4"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni reiciendis consectetur veritatis explicabo dicta velit et adipisci veniam inventore dignissimos reprehenderit illo ratione officiis quibusdam voluptate, impedit aliquid. Perspiciatis, harum.</p>
<a href="https://portafolio-chi-eight.vercel.app/#" class="btn btn-primary btn-lg">Juan Web</a>
</div>